<table class="table table-hover">
  {{files-table-header
    hasActionColumn=hasActionColumn
  }}
  {{files-table-body
    root=rootFolder
    hasCheckbox=hasCheckbox
    hasActionColumn=hasActionColumn
    onCreateFolder=onCreateFolder
    onLaunchModal=onLaunchModal
  }}
</table>


<!-- ../../getFolders
../../createFolders

GET ${url}/folders
GET ${url}/folders/:id
POST ${url}/folders    {name:"", parent:""}
DELETE ${url}/folders/:id
PATCH ${url}/folders/:id {name:""}

GET ${url}/files
GET ${url}/files/:id
POST ${url}/files {file:""}

GET ${url}/download {file:[], folders:[]} //traverse and select on submit
GET ${url}/download {file:[]}

T_Files
[id, name, size, src, lastModified]
T_Folders
[id, name, size, lastModified]

T_FileToFolder
T_FolderToFolder -->
