<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">File Upload</h4>
      </div>
      <div class="modal-body">
        <input onchange={{action "fileAttached"}} value="file" type="file" id="file-upload-field">
      </div>
      <div class="modal-footer">
        <button disabled={{isDisabled}} onClick={{action "uploadFileClicked"}} data-dismiss="modal">Upload</button>
        <button data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
